body {
    text-align: center;
    font-size: 12px;
    color: #888;
    background-color: #fafafa;
}

a, a:visited {
    color: #666;
}

a:hover, a:active {
    color: #9cf;
}

canvas {
    background-color: #fff;
}

#wrapper {
    min-height: 320px;
}

form {
    text-align: left;
    margin: 0 auto;
    width: 420px;
}

form input {
    width: 100px;
    border: 1px solid #777;
    margin: 5px 10px;
    padding: 5px;
    color: #666;
    background: #fff;
    border-radius: 3px;
    border-color: #999;
}

.label-input {
    float: left;
    width: 140px;
    height: 60px;
}
label {
    display: block;
    width: 100px;
}

.button {
    width: 120px;
    height: 40px;
    font-weight: bold;
    border: 1px solid #777;
    padding: 4px 10px;
    margin: 5px 150px;
    cursor: pointer;
    color: #fff;
    background: #09f;
}
.button:hover {
    background: #0df;
}

#hosoku {
    text-align: left;
    width: 400px;
    color: #AAA;
    font-size: 12px;
    line-height: 16px;
    margin: 20px auto;
}